{% extends 'base.html.twig' %}

{% block title %}Add New Meal{% endblock %}

{% block content %}
    <h1>Create New Meal</h1>

    {{ include('admin/meal/form.html.twig', {
        form: form,
        button_label: 'Create Meal',
        alert_text: 'Meal successfully added!'
    }) }}

{% endblock %}
