{% extends 'base.html.twig' %}

{% block title %}Admin Page{% endblock %}

{% block content %}

    <a href="{{ path('meal_add') }}">Add Meal</a>
    <hr>
    <a href="{{ path('meal_edit') }}">Edit Meal</a>
    <hr>
    <a href="{{ path('meal_delete') }}">Delete Meal</a>

{% endblock %}
