<header>
    <nav>
        <ul class="main-menu">
            <li><a href="{{ path('app_homepage') }}">Home</a></li>
            <li><a href="{{ path('data_meals_list') }}">Data</a></li>
        </ul>
    </nav>
</header>
